@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, sans-serif;
}
/* Animation in Navbar for caret-down icon*/
a {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-flex;
  align-items: center;
}

i.fa-caret-down {
  margin-left: 8px; /* Spacing between text and icon */
  transition: transform 0.3s ease-in-out;
}

li:hover .fa-caret-down {
  transform: rotate(180deg);
}
